node_modules/
__pycache__/
*.py[cod]
*$py.class
*/migrations/
*.log
*.sqlite3
env/
venv/
ENV/
.venv/
env.bak/
venv.bak/
staticfiles/
media/
local_settings.py
.DS_Store
Thumbs.db
*.bak
*.swp
*.egg-info/
*.egg
pip-log.txt
pip-delete-this-directory.txt
.python-version
docker-compose*.yml
*.env
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
vector_store/